@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body,*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
    
}

.grid-container{
    display: grid;
    grid-template-columns: 400px 100%;
    grid-template-rows: 200px 900px;
}

.sidebar{
    background-color: rgb(25, 146, 212);
    grid-column: 1 /2 ;
    grid-row: 1 / -1;
}

.header{
    background-color: white;
    grid-column: 2 / -1;
    box-shadow: 15px 2px 12px ;

}

.main-content{
   background-color: lightgrey;

}

img{
    height: 25px;
    width: auto;
    margin-bottom: -3px;
    padding-right: 20px;
}



a{
    color:white;
    text-decoration: none;
}


li{
    text-decoration: none;
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar-container{
    padding-top: 30px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap:40px;
    padding-left: 30px;
}


.branding{
    text-align: center;
    color:white;
    font-size: 2rem;
    padding-top:20px;
}


